<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:cover {"useFeaturedImage":true,"dimRatio":40,"overlayColor":"deep","isUserOverlayColor":true,"minHeight":100,"minHeightUnit":"vh","align":"full","style":{"spacing":{"padding":{"top":"0","bottom":"12vh","left":"var:preset|spacing|50","right":"var:preset|spacing|50"},"margin":{"top":"0"}}}} -->
<div class="wp-block-cover alignfull" style="margin-top:0;padding-top:0;padding-right:var(--wp--preset--spacing--50);padding-bottom:12vh;padding-left:var(--wp--preset--spacing--50);min-height:100vh"><span aria-hidden="true" class="wp-block-cover__background has-deep-background-color has-background-dim-40 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"style":{"dimensions":{"minHeight":"80vh"}},"layout":{"type":"constrained","contentSize":"860px","justifyContent":"left"}} -->
<div class="wp-block-group" style="min-height:80vh"><!-- wp:spacer {"height":"55vh"} -->
<div style="height:55vh" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:post-title {"level":1,"className":"hero-text-shadow","style":{"typography":{"fontFamily":"var:preset|font-family|heading","fontSize":"clamp(3.5rem, 9vw, 7rem)","lineHeight":"0.9","fontWeight":"500","letterSpacing":"-0.02em"}}} /-->

</div>
<!-- /wp:group --></div></div>
<!-- /wp:cover -->

<!-- wp:group {"tagName":"main","backgroundColor":"base","align":"full","style":{"spacing":{"padding":{"top":"0","bottom":"0"},"margin":{"top":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull has-base-background-color has-background" style="margin-top:0;padding-top:0;padding-bottom:0">

<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
